main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;

}

.main__info {
    width: 100%;
    max-width: 570px;

}

.main__info p {
font-size: 18px;
margin: 20px 0 28px;
align-items: first baseline;

}

.main__info div {
    display: flex;
    column-gap: 32px;
}

.main__info div a{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
    animation: skewAnimation 1s forwards;
}

@keyframes skewAnimation {
    from {
        transform: skew(-10deg);
    }

    to {
        transform: skew(-10deg);
    }
}

.trailer {
    border: var(--red);
    background: var(--red);
}

.venda{
    background: var(--green);
    border: var(--green);
}

.image{
    margin-top: 40px;
}

