<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <title>Error</title>
</head>
<body>

    <div class="img">
        <img src="../assets/false-2061132_1920-removebg-preview.png" alt="Erro">
    </div>

    <div class="message">
        <h1>Ops, Algo deu errado!</h1>
        <h3>Retorne à página anterior para tentar novamente.</h3>
    </div>
</body>
</html>
